{% extends "base.html" %}
{% load static %}

{% block 'cabecalho' %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css" rel="stylesheet">
    <link href="{% static 'tipofii/css/novo_tipofii.css' %}" rel="stylesheet">
{% endblock 'cabecalho' %}

{% block 'conteudo' %}
    {% include 'partials/navbar.html' %}
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md">
                <br>
                <div class="row">
                    <div class="col-md">
                        <canvas id="grafico1"></canvas>
                    </div>
                </div>
                <div class="table_fii">
                    <!--<table class="table table-dark table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Codido Fii</th>
                                <th scope="col">Descrição</th>
                                <th scope="col">Tipo</ht>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Total</th>
                                <th scope="col" colspan="2" class="centralizar">Ações</th>
                            </tr>
                        </thead>
                    <tbody>
                        {% for dividendo in dividendos %}
                            <tr>
                                <td>{{dividendo.codFii}}</td>
                                <td>{{ dividendo.valor_total|floatformat:2}}</td>
                                <td>{{ dividendo.qtdCotas }}</td>
                                <td>Total</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>!-->

                </div>
            </div>
        </div>
    </div>
      
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      
      <script>
        const ctx = document.getElementById('grafico1');
        new Chart(ctx, {
          type: 'bar',
          data: {
            labels: {{ rotulos|safe }},
            datasets: [{
            label: 'Dividendos',
            data: {{ valores|safe }},
            borderWidth: 2
            }]
          },
          options: {
            scales: {
            y: {
              beginAtZero: true
            }
            }
          }
        });
      </script>
      
{% endblock 'conteudo' %}