{% extends "base.html" %} 
{% load static %}
{% block 'titulo_pagina' %}
    <h1 class="viga-regular">Gráfico de dividendos</h1>
{% endblock %}
{% block 'conteudo' %} 
<div class="container">
	<br />
	<br />
	<div class="row">
		<div class="col-md">
			<br />
			<div class="row">
				<div class="col-md">
					<canvas id="grafico1"></canvas>
				</div>
			</div>
			<div class="table_fii"></div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
	const ctx = document.getElementById('grafico1');
	new Chart(ctx, {
	    type: 'bar',
	    data: {
	    labels: {{ rotulos|safe }},
	    datasets: [{
	    label: 'Dividendos',
	    data: {{ valores|safe }},
	    borderWidth: 2
	    }]
	  },
	  options: {
	    scales: {
	    y: {
	      beginAtZero: true
	    }
	    }
	  }
	});
</script>

{% endblock 'conteudo' %}
