{% extends "base.html" %} 
{% load static %}
{% block 'titulo_pagina' %}
    <h1 class="viga-regular">Gráfico Movimentação</h1>
{% endblock %}
{% block 'conteudo' %} 
<div class="container">
	<div class="row">
		<div class="col-md">


					<div id="grafico1" style="width: 600px;height:600px;"></div>


			<div class="table_fii"></div>
		</div>
	</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>

<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('grafico1'));
	
	var option = {
		title: {
			text: 'Movimentação'
		},
		grid: {
			left: '5%',
			right: '5%',
			containLabel: true
		},
		tooltip: {},
		legend: {
			data: {{ rotulos|safe }}
		},
		xAxis: {
			type: "category",
			data: {{ rotulos|safe }},
			axisTick: {
				alignWithLabel: true
			}
		},
		yAxis: { type: 'value'},
		series: [
			{
			name: 'Movimentação',
			type: 'bar',
			barWidth: '80%',
			data: {{ valores|safe }},
			}
		]
	};

	myChart.resize();

	myChart.setOption(option)
</script>

{% endblock 'conteudo' %}
