{% extends "base.html" %} 
{% load static %}
{% block 'titulo_pagina' %}
    <h1 class="viga-regular">Gráfico Movimentação</h1>
{% endblock %}
{% block 'conteudo' %} 



					<div id="grafico1" style="width:100%; height: 700px"></div>




<script src="https://cdn.jsdelivr.net/npm/echarts@5.5.0/dist/echarts.min.js"></script>

<script type="text/javascript">
	var myChart = echarts.init(document.getElementById('grafico1'));
	
	var option = {
		"legend": {},
		"tooltip": {},
		"dataset": {
			"source": [
				['rotulos','Jan','Fev','Mar','Abr','Mai','Jun','Jul','Ago','Set','Out','Nov','Dez'],
				{{ series|safe}},
			]
		},
		"xAxis": {
			"type": "category"
		},
		"yAxis": {},
		"series": [{{tipograf|safe}}]
	}

	myChart.resize();

	myChart.setOption(option)
</script>

{% endblock 'conteudo' %}
