{% extends "base.html" %}
{% load static %}
{% block 'titulo_pagina' %}
    <h1 class="viga-regular">Lista de Movimentações</h1>
{% endblock %}
{% block 'conteudo' %}
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md">
                <form action="{% url 'lista_movimento' %}" method="GET">
                    <div class="row">
                        <div class="col-md">
                            <label for="">Fundo Imobiliário</label>
                            <select name="codFii_filtra" id="" class="form-select">
                                <option value="">Todos</option>
                                {% for fii in fiis %}
                                    <option value="{{fii.codFii}}">{{fii.codFii}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md">
                            <br>
                            <input type="submit" style="width: 100%" value="Filtrar" class="btn btn-primary">
                        </div>
                        <div class="col-md">
                            <br>
                            <a href="{% url 'novo_movimento' %}" style="width: 100%" class="btn btn-success"><span>Incluir</span></a>
                        </div>
                    </div>
                </form>
                <br>
                <br>
                <div class="movimento">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Codigo Fii</th>
                                <th scope="col">Data</th>
                                <th scope="col">Valor Unitario</th>
                                <th scope="col">Quantidade</th>
                                <th scope="col">Total</th>
                                <th scope="col">Tipo</ht>
                                <th scope="col" colspan="2" class="centralizar">Ações</th>
                            </tr>
                        </thead>
                    <tbody>
                        {% for movimento in movimentos %}
                            <tr>
                                <td>{{movimento.id}}</td>
                                <td>{{movimento.codFii}}</td>
                                <td>{{movimento.datMovimento}}</td>
                                <td class="numero">{{movimento.valUnitario|floatformat:2}}</td>
                                <td class="numero">{{movimento.qtdCotas}}</td>
                                <td class="numero">{{movimento.valor_total|floatformat:2}}</td>
                                <td>{{movimento.tipMovimento}}</td>
                                <td class="botao_lista"><a href="{% url 'altera_movimento' movimento.id %}"><i class='icone-edit bi bi-pencil-square'></i></a></td>
                                <td class="botao_lista"><a href="#" onclick="confirmar_exclusao('{{movimento.id}}','/movimento/exclui_movimento/')"><i class='icone-exit bi bi bi-x-circle'></i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
        
{% endblock 'conteudo' %}