{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block 'titulo_pagina' %}
    <h1 class="viga-regular">Nova Movimentação</h1>
{% endblock %}
{% block 'conteudo' %}
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="box-form">
                    <br>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-4 md-0">
                                {{ form.codFii|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 md-0">
                                {{ form.datMovimento|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 md-0">
                                {{ form.qtdCotas|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 md-0">
                                {{ form.valUnitario|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 md-0">
                                {{ form.tipMovimento|as_crispy_field }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <br>
                        <hr>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock 'conteudo' %}