{% extends "base.html" %}
{% load static %}

{% block 'cabecalho' %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link href="{% static 'tipofii/css/novo_tipofii.css' %}" rel="stylesheet">
{% endblock 'cabecalho' %}

{% block 'conteudo' %}
    {% include 'partials/navbar.html'%}
    <div class="container">
        <br>
        <br>
        <div class="row">
            <div class="col-md">
                <div class="box-form">
                    <form action="{% url 'novo_fii' %}" method="POST"> {% csrf_token %}
                        <h3>Fundo Imobiliário</h3>
                        {% if messages %}
                            <br>
                            {% for message in messages %}
                                <section class="alert {{message.tags}}">
                                    {{message}}
                                </section>
                            {% endfor %}
                        {% endif %}
                        <div class="col col-md-2">
                            <label>Código</label>
                            <input type="text" class="form-control" placeholder="Código do Fundo" name="codFii" maxlenth="6" required value="{{fii.codFii}}">
                        </div>
                        <br>
                        <label>Nome</label>
                        <input type="text" class="form-control" placeholder="Nome do Fundo" name="nomFii" required value="{{fii.nomFii}}">
                        <br>
                        <label for="">Tipo</label>
                        
                        <select name="tipFii" id="" class="form-select">
                            <option value="">Todas</option>
                            {% for tipofii in tipofiis %}
                                <option value="{{tipofii.id}}"                                 
                                {% if tipofiisel.id == tipofii.id %}
                                selected
                                {% endif %}>{{tipofii.nomTipo}}</option>
                            {% endfor %}
                        </select>
                        <br>
                        <label>Data Com</label>
                        <input type="text" class="form-control" placeholder="Data Com" name="datCom" required value='{{fii.datCom}}'>
                        <br>
                        <label>Data Pagamento</label>
                        <input type="text" class="form-control" placeholder="Data de pagamento" name="datPag" required value="{{fii.datPag}}">
                        <br>
                        <input type="submit" value="Enviar" class="btn-cadastro">
                        <br>
                        <br>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="{% static 'geral/js/fecha_alert.js' %}"></script>
    
{% endblock 'conteudo' %}