{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block 'titulo_pagina' %}
    <h1 class="viga-regular">Novo Fundos Imobiliários</h1>
{% endblock %}
{% block 'conteudo' %}
    <div class="container">
        <div class="row">
            <div class="col-md">
                <div class="box-form">
                    <br>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-2 md-0">
                                {{ form.codFii|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-2 md-0">
                                {{ form.codCor|as_crispy_field }}
                            </div>
                            <div class="form-grupo col-md-8 md-0">
                                {{ form.nomFii|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-4 md-0">
                                {{ form.datCom|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 md-0">
                                {{ form.datPag|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-4 md-0">
                                {{ form.tipFii|as_crispy_field }}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                        <br>
                        <hr>
                    </form>
                </div>
            </div>
        </div>
    </div>   
{% endblock 'conteudo' %}